*{
  box-sizing: border-box;
}
header{
  height:30vh;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  background-color:pink;
  display:flex;
  flex:wrap;
}

aside{
  width:40vw;
  height:80vh;
  background-color: lightseagreen;
}

.image-section{
  background-color: aliceblue;
  text-align:left;
  display:flex;
  flex-direction:column;
}

footer{
  height:15vh;
  background-color: lime;
}